<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439941439485-mtbua0t9frpvrpeoimf1ihakp6qd6sio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439941439485-mtbua0t9frpvrpeoimf1ihakp6qd6sio</string>
	<key>API_KEY</key>
	<string>AIzaSyDDZ_MVa2K91Gee0RsYYnRuRbisC1cTISY</string>
	<key>GCM_SENDER_ID</key>
	<string>439941439485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.usbank.OmniMobileApp.dev.aps</string>
	<key>PROJECT_ID</key>
	<string>timetracker-bc141</string>
	<key>STORAGE_BUCKET</key>
	<string>timetracker-bc141.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439941439485:ios:45f3c6cea020de815d4394</string>
	<key>DATABASE_URL</key>
	<string>https://timetracker-bc141.firebaseio.com</string>
</dict>
</plist>